td, th {
border-style: none;
border-collapse:collapse;
}

span.odometer-formatting-mark {
    font-size: -webkit-xxx-large;
    vertical-align: -webkit-baseline-middle;
}

@media (max-width: 600px) {
table.table.table-hover {
    text-decoration: none;
    font-size: 5.4vw;

}
}

.odometer.odometer-auto-theme, .odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal, .odometer.odometer-theme-minimal .odometer-digit {
    -moz-box-orient: vertical;
    display: initial;
    vertical-align: middle;
    position: relative;
        font-size: 250%;

}


.jumbotron {



    background: #2196F3;
}

.odometer {
    font-size: 250%;
    font-weight: 300;
    text-align: center;
    display: run-in;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background: #03A9F4;
    text-decoration: none;
}


p.lead {
    text-align: center;
    font-size: x-large;
}

@media (min-width: 601px) {
table.table.table-hover {

  text-decoration: none;
  font-size: 3.2vw;
  text-align: center;
  margin: auto;
}
}

.totalviews  {


  text-align: center;
}
td {


  padding-left: 12%;
}
#subs {

  padding-left: 23%;
}
a {
    text-decoration: none;
    color: inherit;
}
#header {

  padding-bottom: 10px;
}
.profiles {
    width: 48%;
    padding-left: 26%;
}

img{
  width: 100%;
  height: 100%;
}

.spf-link{


  text-align: center;
  color: black;
}

.odometer.odometer-auto-theme,.odometer.odometer-auto-theme .odometer-digit,.odometer.odometer-theme-minimal,.odometer.odometer-theme-minimal .odometer-digit{position:relative}.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,.odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer{display:inline-block;visibility:hidden}.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,.odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner{text-align:left;display:block;position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden}.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,.odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon{display:block}.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,.odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner{display:block;-webkit-backface-visibility:hidden}.odometer.odometer-auto-theme .odometer-digit .odometer-value,.odometer.odometer-theme-minimal .odometer-digit .odometer-value{display:block;-webkit-transform:translateZ(0)}.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,.odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value{position:absolute}.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,.odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner{-webkit-transition:-webkit-transform .5s;-moz-transition:-moz-transform .5s;-ms-transition:-ms-transform .5s;-o-transition:-o-transform .5s;transition:transform .5s}.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,.odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner,.odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner{-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%)}.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,.odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner{-webkit-transition:-webkit-transform .5s;-moz-transition:-moz-transform .5s;-ms-transition:-ms-transform .5s;-o-transition:-o-transform .5s;transition:transform .5s;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
