#carasoul {
    margin: auto;
    width: 100%;
}

@charset "UTF-8";
html {
    -webkit-tap-highlight-color: transparent
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
a {
    background-color: transparent
}
a:active, a:hover {
    outline: 0
}
h1 {
    margin: .67em 0
}
img {
    border: 0;
    vertical-align: middle
}
@media print {
    img {
        page-break-inside: avoid
    }
    *, :after, :before {
        color: #000!important;
        text-shadow: none!important;
        background: 0 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }
    a, a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    img {
        max-width: 100%!important
    }
    h2, p {
        orphans: 3;
        widows: 3
    }
    h2 {
        page-break-after: avoid
    }
}
body {
    background-color: #fff
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 10px
}
body {
    color: white;
}
a {
    text-decoration: none
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline
}
a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}
h1, h2 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}
h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px
}
ul {
    margin-top: 0
}
h1 {
    font-size: 36px
}
h2 {
    font-size: 30px
}
p {
    margin: 0 0 10px
}
.list-inline, .list-unstyled {
    list-style: none
}
ul {
    margin-bottom: 10px
}
.list-inline {
}
.list-inline>li {
    display: inline-block;
}
@-ms-viewport {
    width: device-width
}

@font-face {
    font-family: RedactorFont;
    src: url(redactor-font.eot)
}

body {
    overflow-x: hidden
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Reg.otf)
}
@font-face {
    font-family: ProximaNovaSB;
    src: url(../fonts/ProximaNova-Sbold.otf)
}
@font-face {
    font-family: ProximaNovaB;
    src: url(fonts/ProximaNova-Bold.otf)
}
@font-face {
    font-family: ProximaNovaXB;
    src: url(../fonts/ProximaNova-Xbold.otf)
}
@font-face {
    font-family: DinotCB;
    src: url(../fonts/DINOT-CondBold.otf)
}
@font-face {
    font-family: DinotCL;
    src: url(../fonts/DINOT-CondLight.otf)
}

body {
    font-size: 16px;
    line-height: 1.428571429;
    margin: 0;
    padding: 0 0 1px
}
a {
    color: #cbb123
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Reg.otf)
}
@font-face {
    font-family: ProximaNovaSB;
    src: url(../fonts/ProximaNova-Sbold.otf)
}
@font-face {
    font-family: ProximaNovaB;
    src: url(../fonts/ProximaNova-Bold.otf)
}
@font-face {
    font-family: ProximaNovaXB;
    src: url(../fonts/ProximaNova-Xbold.otf)
}
@font-face {
    font-family: DinotCB;
    src: url(fonts/DINOT-CondBold.otf)
}
@font-face {
    font-family: DinotCL;
    src: url(/fonts/DINOT-CondLight.otf)
}
@font-face {
    font-family: DinotL;
    src: url(/fonts/DINOT-Light.otf)
}
@font-face {
    font-family: Dinot;
    src: url(/fonts/DINOT-Regular.otf)
}
@font-face {
    font-family: DinotM;
    src: url(/fonts/DINOT-Medium.otf)
}
@font-face {
    font-family: "Helvetica Neue Thin";
    src: url(/fonts/HelveticaNeueThin/HelveticaNeue-Thin.otf)
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Reg.otf)
}
@font-face {
    font-family: ProximaNovaSB;
    src: url(../fonts/ProximaNova-Sbold.otf)
}
@font-face {
    font-family: ProximaNovaB;
    src: url(../fonts/ProximaNova-Bold.otf)
}
@font-face {
    font-family: ProximaNovaXB;
    src: url(/fonts/ProximaNova-Xbold.otf)
}
@font-face {
    font-family: DinotCB;
    src: url(/fonts/DINOT-CondBold.otf)
}
@font-face {
    font-family: DinotCL;
    src: url(/fonts/DINOT-CondLight.otf)
}
@font-face {
    font-family: DinotL;
    src: url(/fonts/DINOT-Light.otf)
}
@font-face {
    font-family: Dinot;
    src: url(/fonts/DINOT-Regular.otf)
}
@font-face {
    font-family: DinotM;
    src: url(/fonts/DINOT-Medium.otf)
}
@font-face {
    font-family: "Helvetica Neue Thin";
    src: url(/fonts/HelveticaNeueThin/HelveticaNeue-Thin.otf)
}
@-moz-document url-prefix() {}
.fanarts-list {
    font-size: 0;
    letter-spacing: -1px
}
.fanarts-list>li {
    padding: 0;
    margin: 12px;
    vertical-align: top;
    overflow: hidden
}
.fanarts-list>li .fanart-container {
    background-color: #1a1a1a;
    padding: 0;
    overflow: hidden;
    position: relative
}
.fanarts-list>li .fanart-container:hover{

}
.initialized {
    box-shadow: 1px 1px 2px 0 rgba(107,107,107,.15);
    width: 90%;
    max-width: 300px;
}


.fanarts-list>li .image-crop {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: silver;

    
}
@media (max-width: 800px){
    .fanarts-list>li .image-crop {
    width: 100%;
    overflow: hidden;
    position: relative;

    
}
}
.fanarts-list>li .image-crop img {
    width: 100%;
            height: 166px;

}
@media (max-width: 800px){
    .fanarts-list>li .image-crop img {
    width: 100%;
            height: 100%;

}
}
div:focus {
    outline: 0
}

a:focus {
    text-decoration: none
}
h1, h2 {
    font-family: ProximaNovaSB, "Helvetica Neue", Helvetica, Arial, sans-serif
}
body {
    background: #f9f9f9;
    font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
body a {
    color: #3282b6
}
body a:hover {
    color: #373737
}

.fanarts-list>li .fanart-details {
    text-align: center;
    letter-spacing: 0;
    font-size: 16px
}
.fanarts-list>li .fanart-details h2 {
    color: #444;
    font-size: 16px;
    font-family: ProximaNovaB;
    margin: 10px auto 0
}
.fanarts-list>li .fanart-details h2 a {
    color: #444
}
.fanarts-list>li a:hover {
    text-decoration: none
}
.fanarts-list>li .fanart-details .secondary-link {
    font-size: 12px;
    color: #777;
    font-family: ProximaNova
}
.fanarts-list>li .fanart-details .more-infos {
    height: 20px;
    width: 193px;
    margin: 5px auto 0;
    overflow: hidden
}
.fanarts-list>li .fanart-details p {
    width: 193px;
    margin: 5px auto 0;
    border-top: 1px solid #ececec;
    color: #777;
    font-size: 13px;
    font-family: ProximaNova;
    padding: 5px 0
}
 .image-crop .overlay {
      /* display: none; */
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      background-color: rgba(0, 0, 0, .6);
      letter-spacing: 0;
      opacity: 0;
      -webkit-transition: all .11s ease-in-out;
    -moz-transition: all .11s ease-in-out;
    transition: all .11s ease-in-out;
   }
  .fanarts-list>li  .image-crop .overlay a:focus, .posters-list>li .image-crop .overlay a:hover {
      text-decoration: none
   }


 .nav a:hover {
      color: #333;
      text-decoration: none
   }
 .nav a i {
   }
.image-crop .overlay .overlay-btn {
    display: block;
    height: 100%;
    line-height: 185px;
    font-size: 40px;
    color: #fff;
    text-align: center;
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
  }
}
     .image-crop:hover .overlay  {
                  -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
         

display: block;
      opacity: 1;
/* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;*/
/* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;*p/
   }
   .piece {
           -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out
   }
   .overlay .overlay-btn .fa-play {

   }

img {
	opacity: 1;
	 /* transition: opacity 0.3s;  */
}

img[data-src] {
	/* opacity: 0; */
}
.showbox {
    display: inline-block;
}
.loaderHolder{
    margin: auto;
        text-align: center;
}