


.videoContainer{
width: 100%;
}
@media (min-width: 950px) {
.videoContainer{

	width: 60%;
}
}
body{
background-color: #343434;
color: white;
}
h1{
	color: white;
	font-family: 'Roboto', sans-serif;
    margin: 8px;
}
p{
	color: white;
	font-family: 'Open Sans', sans-serif;
    margin: 8px;
}
.showImg {
    padding-top: 4%;
    width: 15%;
}
@media (min-width: 900px){

.showImg {
    padding-top: 2%;
    width: 10%;
}

}

.header {

background-color: rgb(48, 48, 48); color: white;
	height: 20%;
}

#showname {

}


body{
  margin: 0;
    padding: 0;
}
.w3-progress-container {
    width: 100%;
    height: 0.3em;
    opacity: .90;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.w3-progressbar {
    background-color: #29d;
        height: 100%;
    line-height: inherit;
    transition: width 0.4s ease 0s;
}