@font-face {

  font-family: 'ProximaNova';
  font-weight: bold;
  src: url('../fonts/proximanovabold.woff') format('woff')

}
@font-face {

  font-family: 'ProximaNova';
  font-weight: normal;
  src: url('../fonts/proximanovalight.woff') format('woff')
        font-weight: normal;

/*  url('css/proximanova-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */

}
@font-face {

  font-family: 'ProximaNova';
  font-weight: sbold;
  src: url('../fonts/proximasbold.woff') format('woff')
/*  url('css/proximanova-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */

}
@font-face {

  font-family: 'ProximaNova';
  font-weight: regular;
  src: url('../fonts/proximanovareg.woff') format('woff')
/*  url('css/proximanova-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */

}

.videoContainer{
width: 100%;
}
@media (min-width: 950px) {
.videoContainer{

	width: 60%;
}
}
body{
background-color: #343434;
color: white;
}
h1{
	color: white;
	font-family: 'ProximaNova', sans-serif;
      font-weight: bold;

    margin: 8px;
}
p{
	color: white;
	font-family: 'ProximaNova', sans-serif;
      font-weight: normal;

    margin: 8px;
}
.showImg {
    padding-top: 4%;
    width: 15%;
}
@media (min-width: 900px){

.showImg {
    padding-top: 2%;
    width: 10%;
}

}

.header {
 
background-color: rgb(48, 48, 48); color: white;
	height: 20%;
}

#showname {
font-size: 390%;
}


body{
  margin: 0;
    padding: 0;
}
.w3-progress-container {
    width: 100%;
    height: 0.3em;
    opacity: .90;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.w3-progressbar {
    background-color: #29d;
        height: 100%;
    line-height: inherit;
        -moz-transition: width 500ms ease-out,opacity 500ms linear;
    -webkit-transition: width 500ms ease-out,opacity 500ms linear;
    transition: width 500ms ease-out,opacity 500ms linear;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: width,opacity;
     transition-duration: 400ms;
}