@font-face {

  font-family: 'ProximaNova';
  font-style: bold;
  src: url('615c1b06d8fa.woff') format('woff')
/*  url('css/proximanova-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */

}

.header {
    background: #f7d633;
    padding: 2%;
    text-align: center;
    font-size: medium;
    font-family: ProximaNova, sans-serif;
    width: 100%;
    padding-bottom: 2%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    border-radius: 0%;
	    width: 90%;

}

.h5, h5 {
    font-size: 1.05rem;
    color: #858585;
    font-weight: 400;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
    font-size: larger;
}

h1{
	font-size: 1.5rem;
	    color: #393939;
	    font-weight: 700;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: normal;
}

h5.epileft {
    display: inline-block;
    padding-left: 3%;
}

p.episodenum {
    display: inline-block;
}
.showimg {
    width: 70%;
}
.spacer {
    width: 100%;
    padding: 2%;
}
.w3-progress-container {
    width: 90%;
    height: 0.5em;
    position: relative;
    background-color: #f1f1f1;
    opacity: .90;
    bottom: 9px;
}
.w3-progressbar {
    background-color: #f8d637;
        height: 100%;
    position: absolute;
    line-height: inherit;
        transition: width .6s ease;
}


#spinner{


    font-size: 100px;
    margin: auto;
    display: table;
    vertical-align: baseline;
    position: fixed;
top: 50%;
left: 50%;
margin: -50px 0px 0px -50px;


}